/* tickets-list.component.css */
.ticket-list-container {
    margin: 20px;
    padding: 20px;
}

.tickets-list {
    list-style-type: none;
    padding: 0;
}

.tickets-list li {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

/* Añade más estilos según sea necesario */
